<section class="nav nav-pills header-style">
    <tabs>
        <div class=" bodyr">

        <tab tabTitle="Главная">
           <mainTab class="bodyr"></mainTab>
        </tab>

        <tab tabTitle="Личные сообщения">
            <contentNav></contentNav>

        </tab>

        <tab tabTitle="Курсы">
            <div class="bodyr">
            <p>sdsdsdsdsd</p>
            </div>
        </tab>
            <tab tabTitle="Документы">
                <div class="bodyr">
                    <p>sdsdsdsdsd</p>
                </div>
            </tab>
        </div>
    </tabs>


</section>