<section class="bodyr col-md-12">
    <div class="col-md-offset-2">
        <div class="menu-block-textsizezir col-md-10">
            <p style="font-size: 18px" align="center">Статус вашей миссии</p>
        </div>
        <!--прогресс бар-->
        <mainHeader></mainHeader>

        <div>
            <br>
            <div class="col-md-12 nav">
                <div class="col-md-5 roboto12">
                    <!--1блок-->
                    <mainOne></mainOne>
                    <!--2блок ниже-->
                    <mainTwo></mainTwo>
                </div>
                <!--3блок справа-->
                <mainThree></mainThree>

            </div>

        </div>
    </div>
</section>