<div class="jumbotron bodyr">
    <div class="container">
<section>
<div class="col-md-7 ">
    <h4>Добро пожаловать {{currentUser.firstName}}!</h4>
    <p>You're logged in with Angular 2!!</p>
    <h4>All registered users:</h4>
    <ul>
        <li *ngFor="let user of users">
            {{user.username}} ({{user.firstName}} {{user.lastName}})
            - <a (click)="deleteUser(user.id)">Delete</a>
        </li>
    </ul>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>
</section>
    </div>
</div>